:root{
    --preto--principal: #000000;
    --branco--principal: #ffffff;
    --cinza--links: #464646;
    --verde--navbar: #39A96B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background: linear-gradient(135deg, #000000, #3f3f3f);*/
    background-color: #000000;
    font-family: 'Arial', sans-serif;
}

.navbar{
    border-bottom: 3px solid var(--verde--navbar);
    width: 100%;
    height: auto;
    background-color: var(--preto--principal);
    color: var(--branco--principal);
    display: flex;
    justify-content: space-between;
}
.navbar__logo{
    width: 50px;
    height: 50px;
}
.navbar__logo__container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.navbar__logo__title{
    font-size: 1.5em;
}
.navbar__list{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
    padding: 0 8px;
}
.navbar__item{
    font-size: 1.2em;
    border-radius: 5px;
    transition: 0.3s;
    padding: 8px;
}
.navbar__item:hover{
    background-color: var(--cinza--links);
    cursor: pointer;
    transition: 0.3s;
}

/* - */

.container{
    height: 100vh;
    color: var(--branco--principal);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1.5em;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
    place-items: center;
}
.container__introduction{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid red;
    gap: 25px;
}
.introduction__image{
    border: 1px solid gray;
}
.introduction__title{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.introduction__text{
    font-size: 1.2em;
    margin-bottom: 2rem;
    line-height: 1.6;
}
.introduction__subtitle{
    font-size: 2.5rem;
    animation: color 0.5s infinite alternate;
}

.secundary{
    text-align: center;
    place-items: center;
    grid-template-columns: 100%;
}

.secundary__description{
    border-bottom: 1px solid var(--verde--navbar);
    display: flex;
    padding: 60px 0;
    gap: 40px;
    margin: 0 50px;
}

.secundary__container{
    display: flex;
    gap: 10px;
    height: auto;
    padding: 10px 0;
    text-align: start;
    align-items: center; 
    margin-top: 30px;
}

.secundary__text{
    font-size: 1.5em;
    line-height: 1.6em;
}

.circle{
    width: 50px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid var(--verde--navbar);
    text-align: center;
    color: var(--verde--navbar);
}

.teste{
    display: flex;
    flex-direction: column;
}

.teste img{
    width: 40px;
    height: 40px;
}

.green__word{
    color: var(--verde--navbar);
}

.calculate__button{
    box-shadow: 0 0 20px var(--verde--navbar), 0 0 25px var(--verde--navbar);
    transition: 0.5s;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--verde--navbar);
    border: 1px solid var(--verde--navbar);
    animation: blink 1s infinite alternate;
}
.calculate__button__text{
    font-size: 1.5rem;
    color: var(--preto--principal);
}

.calculate__button:hover{
    box-shadow: 0 0 5px var(--verde--navbar),
    0 0 25px var(--verde--navbar), 0 0 50px var(--verde--navbar),
    0 0 100px var(--verde--navbar), 0 0 200px var(--verde--navbar);
    transition: 0.5s;
    cursor: pointer;
    padding: 40px;
}

.flex__container {
    border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
  }

  .flex__container.reverse {
    flex-direction: row-reverse;
  }

  .text__content {
    flex: 1;
    text-align: left;
  }

  .text__content__title{
    font-size: 2rem;
    color: var(--verde--navbar);
    margin-bottom: 15px;
  }

  .image__container {
    background-image: url("../images/team.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }



/* ANIMATIONS */

@keyframes blink {
    0% {box-shadow: 0 0 10px var(--verde--navbar), 0 0 25px var(--verde--navbar), 0 0 50px var(--verde--navbar),
        0 0 100px var(--verde--navbar), 0 0 200px var(--verde--navbar);}
    100% {box-shadow: 0 0 30px var(--verde--navbar);}
}

@keyframes color {
    0% {color: var(--verde--navbar);}
    100% {color: var(--verde--navbar);}
}