<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/base/global.css">
    <link rel="stylesheet" href="../../assets/css/layouts/footer.css">
    <link rel="stylesheet" href="../../assets/css/layouts/header.css">
    <link rel="stylesheet" href="../../assets/css/layouts/top_button.css">
    <link rel="stylesheet" href="../../assets/css/pages/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Calculadora Turnover</title>
</head>
<body>
    <header class="presentation">
        <nav class="navbar">
            <div class="navbar__logo__container">
                <span class="navbar__logo__title">mosaic.ai</span>
            </div>
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a class="navbar__link" href="index.html">Home</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="https://mosaic-ai.co/home#about">Sobre</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="introduction">
            <div class="introduction__content">
                <h1 class="introduction__title">Domine o Futuro do RH com IA: Seu Copilot Chegou!</h1>
                <p class="introduction__text">Conheça a Mosaic.ai: O Co-Piloto de IA que transforma seu RH de centro de custos para hub de inovação estratégica. Prepare-se para uma metamorfose organizacional!</p>
            </div>
            <img class="introduction__image" src="../../assets/images/logo/8.png" alt="Logo da Mosaic">
        </section>

        <section class="benefits">
            <h2 class="benefits__title">💡 Desvende o Código do Sucesso Empresarial e:</h2>
            <div class="benefits__grid">
                <div class="benefit__card">
                    <img src="../../assets/images/icons/wifi-signal-waves.png" alt="Amplificar">
                    <div class="circle">1</div>
                    <p><span class="highlight">Amplifique</span> o potencial da sua equipe em níveis estratosféricos</p>
                </div>
                <div class="benefit__card">
                    <img src="../../assets/images/icons/cancel (1).png" alt="Eliminar">
                    <div class="circle">2</div>
                    <p><span class="highlight">Elimine</span> desperdícios financeiros com precisão milimétrica</p>
                </div>
                <div class="benefit__card">
                    <img src="../../assets/images/icons/top-right.png" alt="Alavancar">
                    <div class="circle">3</div>
                    <p><span class="highlight">Alavanque</span> seu crescimento com decisões baseadas em dados.</p>
                </div>
            </div>
        </section>

        <section class="cta">
            <h2 class="cta__title">🚨 Alerta: Sua Empresa Está Perdendo Talentos e Lucros!</h2>
            <p class="cta__subtitle">Descubra o Impacto no Seu Negócio!</p>
            <button class="cta__button" id="btn_to_form">Calcule Suas Perdas Agora</button>
            <script src="../../scripts/alert_button.js"></script>
        </section>

        <section class="features">
            <h2 class="features__title">🏆 Seja um Visionário: Reescreva o Futuro do RH Hoje!</h2>
            <p class="features__text">O futuro do RH está sendo reescrito, e você pode fazer parte dessa revolução. As vagas para parceiros pioneiros estão se esgotando rapidamente. Não perca a chance de liderar essa mudança!</p>
            <div class="features__grid">
                <div class="feature__card">
                    <div class="text__content">
                        <h2>Inovação em Gestão de Pessoas</h2>
                        <p>Visualize o poder da inovação em gestão de pessoas com ferramentas modernas e intuitivas.</p>
                    </div>
                    <img src="../../assets/images/icons/line-chart.png" alt="Gráfico">
                </div>
                <div class="feature__card">
                    <div class="text__content">
                        <h2>Alcance Novos Patamares</h2>
                        <p>Veja como sua equipe pode alcançar novos níveis de produtividade e satisfação com nossas soluções.</p>
                    </div>
                    <img src="../../assets/images/icons/group.png" alt="Grupo">
                </div>
            </div>
            <p class="features__warning">⏰ Atenção: Vagas Limitadas para Early Adopters - Aja Agora!</p>
        </section>

        <section class="form__section" id="form">
            <h2>Preencha o formulário abaixo para ter acesso à calculadora.</h2>
            <form class="form__container">
                <label for="nome">Nome <span class="required">*</span></label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

                <label for="sobrenome">Sobrenome <span class="required">*</span></label>
                <input type="text" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome" required>

                <label for="cargo">Cargo <span class="required">*</span></label>
                <input type="text" id="cargo" name="cargo" placeholder="Digite seu cargo" required>

                <label for="empresa">Empresa <span class="required">*</span></label>
                <input type="text" id="empresa" name="empresa" placeholder="Digite o nome da empresa onde você trabalha" required>

                <label for="email">E-mail <span class="required">*</span></label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                <br>
                <br>
                <input type="submit" value="Acessar calculadora">
            </form>
        </section>

        <section class="calculator">
            <div class="calculator__content">
                <h2 class="calculator__title">Calculadora de Turnover</h2>
                <div class="calculator__division">
                    <form id="turnover__form">
                        <div class="turnover__form__content">
                            <div class="turnover__form__field">
                                <label for="salary">Salário do funcionário desligado:</label>
                                <input type="number" id="salary" name="salary" required>
                            </div>
                            
                            <div class="turnover__form__field">
                                <label for="benefits">Benefícios proporcionais:</label>
                                <input type="number" id="benefits" name="benefits" required>
                            </div>
                    
                            <div class="turnover__form__field">
                                <label for="fines">Multas rescisórias:</label>
                                <input type="number" id="fines" name="fines" required>
                            </div>
                    
                            <div class="turnover__form__field">
                                <label for="recruitment">Custos de recrutamento:</label>
                                <input type="number" id="recruitment" name="recruitment" required>
                            </div>

                            <div class="turnover__form__field">
                                <label for="training">Custos de treinamento para novo colaborador:</label>
                                <input type="number" id="training" name="training" required>
                            </div>

                            <div class="turnover__form__field">
                                <label for="rh">Custos com a equipe de RH:</label>
                                <input type="number" id="rh" name="rh" required>
                            </div>
                        </div>
                    </form>
                    <div class="calculator__result">
                        <h2 class="calculator__result__text">Resultado</h2>
                        <p class="calculator__result__value">R$ 50.000</p>       
                    </div>
                </div>
                <button class="calculator__button">CALCULAR</button>
            </div>
        </section>
        <button id="btnTopo" title="Voltar ao topo">↑</button>
        <script src="../../scripts/top_button.js"></script>
    </main>
    <footer>
        <div class="footer__content">
            <p>&copy; 2025 Mosaic.ai. Todos os direitos reservados.</p>
            <ul class="footer__links">
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Serviço</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>